@font-face {
    font-family: 'meslo_lg_m_for_Rgforpowerline';
    src: url('fonts/meslo_lg_m_regular_for_powerline-webfont.woff2') format('woff2'),
         url('fonts/meslo_lg_m_regular_for_powerline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}